.custom-slide {
    width: 100%;
    min-width: 280px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;


    background-color: none !important;
    overflow: hidden;
    max-width: 331px !important;
}

.slide-banner {
    object-fit: cover;
    background-color: transparent;
    height: 100%;
}

@media (max-width: 600px) {
    .css-1g8j8j5 {
        height: 280px !important;
    }
    /* .custom-slide {
        max-width: 320px !important;
    } */
}