.custom-slide {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;


    background-color: none !important;
    overflow: hidden;
}

.slide-banner {
    object-fit: cover;
    background-color: transparent;
    height: 100%;
}