.newticket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 2rem);
  background: #f1f3fa;
  min-height: 70vh;
  overflow: hidden;
}

.box_ticket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 4vw, 4rem);
  background: #fff;
}

.header_tikes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  padding: clamp(1rem, 2vw, 2rem) 0;
}

.header_tikes h4 {
  color: #578ebe;
  font-size: clamp(1rem, 1.6vw, 1.6rem);
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 0;
}

.box_input {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.box_input label {
  color: #333;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

.box_input label span {
  color: red;
}

.box_input input {
  width: 99%;
  border: 1px solid #e5e5e5;
  margin: 1rem 0;
  padding: clamp(0.5rem, 0.7vw, 0.7rem) 0.5rem;
  outline: none;
}

.box_input textarea {
  width: 100%;
  height: clamp(20vh, 40vh, 40vh);
  border: 1px solid #e5e5e5;
  padding: clamp(0.5rem, 0.7vw, 0.7rem) 0.5rem;
  outline: none;
  margin: 1rem 0;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  width: clamp(7rem, 10vw, 10rem);
  color: #fff;
  background: #428bca;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
}
.footer button:hover {
  cursor: pointer;
}

.footer .import {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
}

.footer .import label {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  border: 1px solid #e5e5e5;
  padding: 1rem;
}

.footer .import label input:hover {
  cursor: pointer;
}

.footer .import label input {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.footer .import p {
  color: #428bca;
  font-size: clamp(0.6rem, 0.9vw, 0.9rem);
  margin: 0 1rem 0 0;
}
.inputTitle {
  width: 70% !important;
}

.lowerContainer {
  width: 100%;
  display: flex;
}

@media (max-width: 600px) {
  .lowerContainer {
    flex-direction: column;
  }
}

.lowerContainer button {
  width: clamp(7rem, 10vw, 10rem);
  color: #fff;
  background: rgb(66, 139, 202);
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
}

.lowerContainer button:hover {
  cursor: pointer;
  background-color: rgba(66, 139, 202, 0.95);
}

.plusButton {
  width: "40px";
  height: "40px";
  font-size: "40px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  cursor: "pointer";
  color: "#428aca";
  background-color: white;
}

.plusButton:hover {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid black;
  color: rgb(6, 46, 81);
}


.textField input,
.selectField input {
  border: none;
}

.textField fieldset,
.selectField fieldset {
  text-align: right;
  direction: rtl;
}

.selectField fieldset legend {
  overflow: visible;
}

.selectField span {
  opacity: 1 !important;
  background: #fff;
}

.box_input label {
  transform-origin: right !important;
  left: inherit !important;
  right: 1.75rem !important;
  font-size: small;
  color: #807D7B;
  font-weight: 400;
  overflow: unset;
  padding: 0 1.2rem 0 0;
}