.store {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* background: #fff; */
    padding: 2rem clamp(.5rem, 4vw, 4rem);
    /* margin: 1rem; */
}
.title{
    margin: 15px;
}
.store .boxstore {
    width: 100%;
    /* background: #fff; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem clamp(.5rem, 2vw, 2rem);
}

.store .boxstore .boxinput {
    max-width: 280px;
}

.store .boxinput .input {
    max-width: 230px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    height: clamp(3rem, 5vw, 5rem);
    border: 1px solid #888;
    border-radius: .7rem;
    overflow: hidden;
    padding: .5rem;
    position: relative;
}

.store .boxstore .boxinput .input input {
    max-width: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.store .boxstore .boxinput .input select {
    max-width: 100%;
    min-width: 215px;
    background: transparent;
    border: none;
    outline: none;
    color: #666;
    font-size: clamp(.8rem, 1vw, 1rem);
}
.store .boxstore .boxinput .input input::placeholder {
    font-size: clamp(.8rem, 1vw, 1rem);
}

.store .boxstore .boxinput .input input[type='file'] {
    max-width: 180px;
    height: clamp(3rem, 5vw, 5rem);
    opacity: 0;
    z-index: 3;
}

@media (max-width: 600px) {
    .store .boxstore .boxinput .input input[type='file'] {
        max-width: 162px;
    }
    .store .boxstore .boxinput .input select {
        max-width: 100%;
        min-width: 162px;
    }
}

.store .boxstore .boxinput .input h5 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: .5rem;
    top: 0;
    color: #666;
    font-weight: 100;
    font-size: clamp(.8rem, 1vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.store .boxstore .boxinput .input input[type='file']:hover,
.store .boxstore .boxinput .input select:hover {
    cursor: pointer;
}

.store .boxstore .boxinput .input span {
    width: 20%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: #666;
}

.store .box_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.store .box_btn button {
    color: #fff;
    background: rgb(25, 118, 210);
    padding: clamp(.7rem, 1.4vw, 1.4rem) clamp(3rem, 6vw, 6rem);
    border-radius: .7rem;
    margin: 0 3rem 0 0;
}


.store .rules {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 3rem clamp(1rem, 3vw, 3rem) 0 0;
}

.store .rules p {
    color: #333;
    margin: 0 0 1rem 0;
    font-weight: 100;
    font-size: clamp(.9rem, 1.2vw, 1.2rem);
}

.store .rules ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem 0 0;
}

.store .rules ul li {
    color: #333;
    margin: 0 0 1rem 0;
    font-weight: 100;
    list-style-type: disc;
    font-size: clamp(.7rem, 1.2vw, 1.2rem);
}

.store .rules h5 {
    margin: 1rem 0 1rem 0;
    color: #333;
    font-weight: 100;
    list-style-type: disc;
    font-size: clamp(.65rem, 1.2vw, 1.2rem);
}